.profile-card-enter {
  opacity: 0.01;
}

.profile-card-enter.profile-card-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.profile-card-exit {
  max-height: 480px;
}

.profile-card-exit.profile-card-exit-active {
  max-height: 0;
  transition: max-height 300ms ease;
}


.slide-left-appear {
  transform: translateX(100%);
}

.slide-left-appear.slide-left-appear-active {
  transform: translateX(0);
  transition: transform 200ms ease-in;
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter.slide-left-enter-active {
  transform: translateX(0);
  transition: transform 200ms ease-in;
}

.slide-left-exit {
  transform: translateX(0);
}

.slide-left-exit.profile-card-exit-active {
  transform: translateX(100%);
  transition: transform 200ms ease;
}



.slide-up-appear {
  transform: translateY(100%);
}

.slide-up-appear.slide-up-appear-active {
  transform: translateY(0);
  transition: transform 200ms ease-in;
}

.slide-up-enter {
  transform: translateY(100%);
}

.slide-up-enter.slide-up-enter-active {
  transform: translateY(0);
  transition: transform 200ms ease-in;
}

.slide-up-exit {
  transform: translateY(0);
}

.slide-up-exit.slide-up-exit-active {
  transform: translateY(100%);
  transition: transform 200ms ease;
}
